@model dynamic   
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<div class="container">
    <div class="row">
        @foreach (Author author in Model.Authors)
        {
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card card-inverse card-info">
                <span class="card-img-top" style="width: 100%; height: 150px; background-image: url(@author.Banner); background-size: cover; background-position: center center"></span>
                <div class="card-block">
                    <figure class="profile">
                        <img src="@author.Avatar" class="profile-avatar" alt="">
                    </figure>
                    <h4 class="card-title mt-3">@author.Display</h4>
                    <div class="meta card-text">
                        <a>@author.Title</a>
                    </div>
                    <div class="card-text">
                        @author.Bio
                    </div>
                </div>
                <div class="card-footer">
                    <small>Last post @author.Posts[0].DatePublished.ToShortDateString()</small>
                    <a class="btn btn-info float-right btn-sm" asp-route="ByAuthor" asp-route-id="@author.ID">My Posts</a>
                </div>
            </div>
        </div>
        }
    </div>
</div>
